.book-search-title,
.book-search-content,
.book-search-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-search-form-field {
  min-width: 300px;
}

.book-search-spinner {
  visibility: hidden;
  margin-left: 1rem;

  &.show {
    visibility: visible;
  }
}

.book-search-footer {
  color: #FF0000;
  padding: 5px 0;
}
