<section class="frame-wrapper">
    <div class="frame-sidenav-wrapper">
        <app-search-list-sidenav
                [listPage]="1"
                [listTotalPages]="1"
                [listQuery]="listQuery === 'new-releases' ? '' : listQuery"
                [currentOption]="'music'"
                (queryChange)="handleQueryInputValueChange($event)"
                (clickOption)="handleNavListOptionClick($event)"></app-search-list-sidenav>
    </div>

    <div class="frame-main-wrapper">
        <div class="frame-main-partial" *ngIf="albumList$ | async as albumList">
            <h1>Albums</h1>
            <ul class="album-list">
                <li class="album-list-item" *ngFor="let album of albumList">
                    <app-media-card [imageUrl]="album.images[0].url"
                                    [name]="album.name"
                                    [artists]="album.artists"
                                    (select)="handleSelectAlbum(album.id)"></app-media-card>
                </li>
            </ul>
            <app-list-paginator [listPage]="albumListPage$ | async"
                                [listTotalPages]="albumListTotalPages$ | async"
                                [searchName]="listQuery"
                                (goToPage)="goToAlbumPage($event, trackPaginator.listPage)"
                                #albumPaginator="paginator"></app-list-paginator>
        </div>
        <div class="frame-main-partial"
             *ngIf="trackList$ | async as trackList" >
            <h1>Tracks</h1>
            <ul class="tracks-list">
                <li class="track-item" *ngFor="let track of trackList">
                    <app-track-bar [role]="'link'"
                                   [imageUrl]="track.album.images[0].url"
                                   [name]="track.name" [explicit]="track.explicit"
                                   [artists]="track.artists"
                                   (select)="handleSelectTrack(track.album.id, track.id)"></app-track-bar>
                </li>
            </ul>
            <app-list-paginator [listPage]="trackListPage$ | async"
                                [listTotalPages]="trackListTotalPages$ | async"
                                [searchName]="listQuery"
                                (goToPage)="goToTrackPage($event, albumPaginator.listPage)"
                                #trackPaginator="paginator"></app-list-paginator>
        </div>
    </div>
</section>
