<section class="frame-wrapper">
    <div class="frame-sidenav-wrapper">
        <app-search-list-sidenav
                [listPage]="1"
                [listTotalPages]="1"
                [listQuery]="listQuery === 'new-releases' ? '' : listQuery"
                [currentOption]="'music'"
                (queryChange)="handleQueryInputValueChange($event)"
                (clickOption)="handleNavListOptionClick($event)"></app-search-list-sidenav>
    </div>

    <div class="frame-main-wrapper">
        <div class="frame-main-partial" *ngIf="albumList$ | async as albumList">
            <h1>Albums</h1>
            <ul class="album-list">
                <li class="album-list-item" *ngFor="let album of albumList">
                    <a class="album-list-item-anchor"
                       [routerLink]="'/music/album/' + album.id">
                        <div class="poster">
                            <img [lazyLoad]="album.images[0].url"
                                 [errorImage]="'/assets/images/abstract-image.jpg'"
                                 alt="Poster">
                        </div>
                        <h5 class="album-name">{{album.name}}</h5>
                        <h6 class="artist-name">{{getArtistNameList(album.artists) | addCommas}}</h6>
                    </a>
                </li>
            </ul>
            <app-list-paginator [listPage]="albumListPage$ | async"
                                [listTotalPages]="albumListTotalPages$ | async"
                                [searchName]="listQuery"
                                (goToPage)="goToAlbumPage($event, trackPaginator.listPage)"
                                #albumPaginator="paginator"></app-list-paginator>
        </div>
        <div class="frame-main-partial"
             *ngIf="trackList$ | async as trackList" >
            <h1>Tracks</h1>
            <ul class="tracks-list">
                <li class="track-item" *ngFor="let track of trackList">
                    <a class="basic-btn track-item-btn"
                       [routerLink]="'/music/album/' + track.album.id"
                       [queryParams]="{track_id: track.id}">
                        <span class="track-item-left">
                            <span class="poster">
                                <img [lazyLoad]="track.album.images[0].url"
                                     [errorImage]="'/assets/images/abstract-image.jpg'"
                                     alt="Poster">
                            </span>
                        </span>

                        <span class="track-item-middle">
                            <span class="track-name">{{track.name}}</span>
                            <span class="second-line">
                                <span *ngIf="track.explicit" class="explicit-label">explicit</span>
                                <span class="artist-name">{{getArtistNameList(track.artists) | addCommas}}</span>
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
            <app-list-paginator [listPage]="trackListPage$ | async"
                                [listTotalPages]="trackListTotalPages$ | async"
                                [searchName]="listQuery"
                                (goToPage)="goToTrackPage($event, albumPaginator.listPage)"
                                #trackPaginator="paginator"></app-list-paginator>
        </div>
    </div>
</section>
