@import "../../../sass/list/list";

.frame-main-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

.frame-main-partial {
  width: 100%;
  height: 100%;
  padding: .5rem;
  box-sizing: border-box;

  &:last-child {
    border-left: solid 1px #2d2d2d;
  }

  h1 {
    margin: 0 0 1rem;
  }
}

.album-list {
  list-style: none;
  margin: 0;
  display: grid;
  grid-gap: 2rem .8rem;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  padding: 0 .5rem .5rem;
  box-sizing: border-box;
  justify-items: center;

  .album-list-item {
    width: 100%;
  }
}

.tracks-list {
  list-style: none;
  margin: 0;
  padding: 0;
}