<div class="tv-grid featured">
    <app-audio-card *ngFor="let tv of featuredList" class="tv-card"
                    [audio]="tv" [scrollTarget]="hostElm"
                    [cardLink]="'/tv/' + tv.id + '/details'"
                    [imageLink]="'https://image.tmdb.org/t/p/w780' + tv.backdrop_path"
                    [title]="tv.name"
                    [date]="tv.first_air_date"
                    [vote_average]="tv.vote_average"
                    [vote_count]="tv.vote_count"
                    (addCollection)="addCollection.next($event)"
                    (playVideo)="playVideo.next($event)"></app-audio-card>
</div>
<div class="tv-grid">
    <app-audio-card *ngFor="let tv of list" class="tv-card"
                    [audio]="tv" [scrollTarget]="hostElm"
                    [cardLink]="'/tv/' + tv.id + '/details'"
                    [imageLink]="'https://image.tmdb.org/t/p/w780' + tv.backdrop_path"
                    [title]="tv.name"
                    [date]="tv.first_air_date"
                    [vote_average]="tv.vote_average"
                    [vote_count]="tv.vote_count"
                    (addCollection)="addCollection.next($event)"
                    (playVideo)="playVideo.next($event)"></app-audio-card>
</div>
