@import "base/normalize";

// Audio Dialog
.audio-dialog {
  padding: .5rem;
  width: 80vw;
  max-width: 600px;
  box-sizing: border-box;

  &.audio-overview-dialog {
    padding: 1.5rem;
    background-color: #081c25;
    color: #FFFFFF;
  }
}

// Credits Dialog
.credits-dialog {
  position: relative;
  padding: .5rem 1rem;
  width: 80vw;
  height: 95vh;
  max-width: 600px;
  box-sizing: border-box;
  overflow-y: scroll;
}

// Basic Btn Setting
.basic-btn {
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none !important;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;

  .basic-btn-content {
    display: block;
    width: 100%;
    height: 100%;
    outline: 0;
  }

  &:focus > .basic-btn-content {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:not(:-moz-focusring):focus > .basic-btn-content {
    box-shadow: none;
  }
}

.app-notifier {
  text-align: center;
}
