@import "base/normalize";

// Audio Dialog
.audio-dialog {
  padding: .5rem;
  width: 80vw;
  max-width: 600px;
  box-sizing: border-box;
}

// Credits Dialog
.credits-dialog {
  position: relative;
  padding: .5rem 1rem;
  width: 80vw;
  height: 95vh;
  max-width: 600px;
  box-sizing: border-box;
  overflow-y: scroll;
}
