@import "../../../sass/details/details";

.artist-header-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-position: 50% 10%;
  transition: all 1s;
  opacity: 0;

  &.ng-lazyloaded {
    opacity: 1;
  }
}

.details-inform {
  flex-direction: column;
}

.details-inform-list-wrapper {
  margin-bottom: 2rem;
}

.details-header-poster {
  min-height: 70px;
}

.details-body-poster {
  height: 191px;
}

.stats-item {
  font-size: 1.1rem;
  font-weight: 500;
}

.tracks-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.album-list {
  list-style: none;
  margin: 0;
  display: grid;
  grid-gap: 2rem .8rem;
  grid-template-columns: repeat(auto-fill, minmax(11.5rem, 1fr));
  padding: 0 .5rem .5rem;
  box-sizing: border-box;
  justify-items: center;

  .album-list-item {
    width: 100%;
  }
}

@media #{$medium-up} {
  .details-body-main {
    .external-list {
      display: none;
    }
  }
}
