@import "../../../sass/details/details";

.artist-header-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-position: 50% 10%;
  transition: all 1s;
  opacity: 0;

  &.ng-lazyloaded {
    opacity: 1;
  }
}

.details-inform {
  flex-direction: column;
}

.details-inform-list-wrapper {
  margin-bottom: 2rem;
}

.details-header-poster {
  min-height: 70px;
}

.details-body-poster {
  height: 191px;
}

.stats-item {
  font-size: 1.1rem;
  font-weight: 500;
}

.tracks-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .track-item-btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    padding: .5rem 0;
    text-align: left;

    &:hover,
    &:focus {
      background-color: hsla(0, 0%, 0%, 0.1);
      color: #1f9f55;
    }
  }

  .details-body-poster {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0;
  }

  .track-item-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 6rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }

  .track-item-middle {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .track-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .second-line {
      display: block;
    }

    .explicit-label {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: .015em;
      display: inline-block;
      text-transform: uppercase;
      background-color: hsla(0, 0%, 0%, 0.2);
      color: #000;
      border-radius: 2px;
      padding: 0 .3em;
      margin-right: .67em;
    }
  }

  .track-item-right {
    display: flex;
    align-items: center;
    width: 3rem;
    padding-left: 1rem;
  }
}

.album-list {
  list-style: none;
  margin: 0;
  display: grid;
  grid-gap: 2rem .8rem;
  grid-template-columns: repeat(auto-fill, minmax(11.5rem, 1fr));
  padding: 0 .5rem .5rem;
  box-sizing: border-box;
  justify-items: center;

  .album-list-item {
    width: 100%;
  }

  .album-list-item-anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: .5rem;
    box-sizing: border-box;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    outline: none;

    &:hover, &:focus {
      box-shadow: 0 0 3px hsla(0, 0%, 0%, 1);
    }

    .details-body-poster {
      width: 100%;
      height: auto;
      min-height: 10.5rem;
    }

    .album-name {
      margin: 0;
    }
  }
}

@media #{$medium-up} {
  .details-body-main {
    .external-list {
      display: none;
    }
  }
}
