<section class="frame-wrapper">
    <div class="frame-sidenav-wrapper">
        <app-frame-sidenav [title]="'Book'" [listPage]="listPage$ | async"
                           [listTotalPages]="listTotalPages$ | async"
                           [listQuery]="listQuery$ | async"
                           [currentOption]="listQuery$ | async"
                           [navList]="navList"></app-frame-sidenav>
    </div>
    <div class="frame-main-wrapper">
        <div class="book-list">
            <app-book-card *ngFor="let book of list$ | async"
                           [book]="book"></app-book-card>
        </div>
        <app-list-paginator [listPage]="listPage$ | async"
                            [listTotalPages]="listTotalPages$ | async"
                            [searchName]="listQuery$ | async"
                            (goToPage)="goToPage($event)"></app-list-paginator>
    </div>
</section>
