@import "../../../sass/base/breakPoints";
@import "../../../sass/list/list";

.tv-grid {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 0 .5rem .5rem;
  box-sizing: border-box;

  &.featured {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    .tv-card {
      height: 320px;
    }
  }

  @media #{$small-only} {
    &.featured {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

      .tv-card {
        height: 250px;
      }
    }
  }

  .tv-card {
    display: block;
    height: 250px;

    &:hover {
      box-shadow: 0 0 3px hsla(0, 100%, 100%, 1);
    }
  }
}
