<section class="frame-wrapper">
    <div class="frame-sidenav">
        <app-tv-list-sidenav [showNavMenu]="!isLargeUp"
                             [listPage]="listPage$ | async"
                             [listTotalPages]="listTotalPages$ | async"
                             [listQuery]="listQuery$ | async"
                             (goToPage)="goToPage($event)"></app-tv-list-sidenav>
    </div>

    <div class="frame-main" #frameMainElm>
        <app-tv-list-content [featuredList]="featuredList$ | async"
                             [list]="list$ | async"
                             [frameMainElm]="frameMainElm"
                             (playVideo)="openTvTrailerDialog($event)">
        </app-tv-list-content>
        <app-list-paginator [listPage]="listPage$ | async"
                            [listTotalPages]="listTotalPages$ | async"
                            [listQuery]="listQuery$ | async"
                            (goToPage)="goToPage($event)"></app-list-paginator>
    </div>
</section>
