<section class="movie-details-header">
    <div class="backdrop"
         [lazyLoad]="'https://image.tmdb.org/t/p/w1280' + movie.backdrop_path"></div>

    <div class="content">
        <div class="movie-details-container summary">
            <div class="poster">
                <img [lazyLoad]="'https://image.tmdb.org/t/p/w780' + movie.poster_path"
                     [errorImage]="'/assets/images/abstract-image.jpg'"
                     alt="Poster">
            </div>
            <h1 class="title">
                {{movie.title}}
                <span class="year">{{movie.release_date | yearString}}</span>
            </h1>
        </div>

        <app-audio-rating-list [vote_average]="movie.vote_average"
                               [vote_count]="movie.vote_count"
                               [type]="'movie'"
                               (rate)="rate.emit(movie)"></app-audio-rating-list>
    </div>
</section>
