<div class="book-card-inner">
    <div class="book-card-header">
        <div class="book-card-title">
            <h1>{{book.volumeInfo.title | bcEllipsis:35}}</h1>
            <h2 *ngIf="book.volumeInfo.subtitle">{{book.volumeInfo.subtitle | bcEllipsis:40}}</h2>
        </div>

        <div class="poster-frame">
            <img [lazyLoad]="book.volumeInfo.imageLinks? book.volumeInfo.imageLinks.smallThumbnail : null"
                 [errorImage]="'/assets/images/abstract-image.jpg'" [useSrcset]="true"
                 [scrollTarget]="scrollElm" [alt]="book.volumeInfo.title"
                 alt="Poster">
        </div>
    </div>
    <div class="book-card-content">
        <p *ngIf="book.volumeInfo.description as description">{{ description | bcEllipsis }}</p>
    </div>
    <div class="book-card-footer">
        <h5>Written By:</h5>
        <span>{{ book.volumeInfo.authors | bcAddCommas }}</span>
    </div>
</div>
