<div class="card-inner">
    <a class="card-content" [routerLink]="cardLink">
        <img class="card-backdrop"
             [defaultImage]="'/assets/images/abstract-image.jpg'"
             [lazyLoad]="imageLink"
             [scrollTarget]="scrollTarget"
             [scrollObservable]="scrollObservable"
             [alt]="title">
        <div *ngIf="title" class="card-title">
            <h3>{{title}} <span class="year">{{date | yearString}}</span></h3>
        </div>
    </a>
    <div class="card-control">
        <div class="card-actions">
            <a class="basic-btn card-action collect"
               type="button" tabindex="0"
               owlTooltip="Add To Collection"
               (click)="clickAddCollection($event)">
                <i class="fas fa-book"></i>
            </a>
            <a *ngIf="!hidePlayBtn"
               type="button" tabindex="0"
               class="basic-btn card-action play"
               owlTooltip="Watch Trailer"
               (click)="clickPlayVideo($event)">
                <i class="fas fa-play"></i>
            </a>
        </div>
        <div *ngIf="vote_average" class="card-rate">
            <app-vote-inform
                    [style.font-size]="'.8rem'"
                    [vote_average]="vote_average"
                    [vote_count]="vote_count"></app-vote-inform>
        </div>
    </div>
</div>
