@import "../../../sass/list/list";

.album-grid {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr)); // 19rem + 1rem(padding) = 320px width, the width of IPhone4
  padding: 0 .5rem .5rem;
  box-sizing: border-box;
  justify-items: center;
  list-style: none;
  margin: 0;

  .album-grid-item {
    width: 100%;
    max-width: 19rem;
  }
}

