<section *ngIf="movie.similar.results.length > 0" class="movie-details-similar-wrapper">
    <div class="movie-details-container">
        <h2 class="header">
            If you like <strong>{{movie.title}}</strong>, check out ...
        </h2>

        <div class="movie-list-content">
            <button class="movie-details-button movie-list-control"
                    (click)="slideLeftMovieList($event)">
                <i class="icon fas fa-angle-left"></i>
            </button>

            <div class="movie-list-wrapper" #movieListWrapper>
                <ul class="movie-list"
                    [style.width.px]="movie.similar.results.length * movieItemWidth"
                    [style.transform]="'translateX(' + -movieListSlideDistance + 'px)'" #movieList>
                    <li *ngFor="let m of movie.similar.results" class="movie-list-item"
                        [style.width.px]="movieItemWidth">
                        <app-audio-card [audio]="m"
                                        imageType="poster"
                                        [showTitle]="false"
                                        [cardLink]="'/movies/' + m.id + '/details'"
                                        [scrollObservable]="scrollObservable"
                                        (playVideo)="playVideo.next($event)"></app-audio-card>
                        <h3 class="movie-title">{{m.title}}</h3>
                    </li>
                </ul>
            </div>

            <button class="movie-details-button movie-list-control"
                    (click)="slideRightMovieList($event)">
                <i class="icon fas fa-angle-right"></i>
            </button>
        </div>
    </div>
</section>
