<section class="actor-details-content">
    <div class="sidenav">
        <div class="sidenav-container">
            <div class="poster">
                <img [lazyLoad]="'https://image.tmdb.org/t/p/w185' + actor.profile_path"
                     [errorImage]="'/assets/images/abstract-image.jpg'" [useSrcset]="true"
                     alt="Poster">
            </div>

            <div class="personal-inform">
                <div class="personal-inform-external">
                    <h3 class="personal-inform-external-title">External Links</h3>
                    <ul class="personal-inform-list external-list">
                        <li *ngIf="actor.homepage"
                            class="external-item" owlTooltip="Official Homepage">
                            <a [href]="actor.homepage" target="_blank">Official</a>
                        </li>

                        <li *ngIf="actor.external_ids.imdb_id"
                            class="external-item" owlTooltip="IMDB">
                            <a [href]="'http://www.imdb.com/title/' + actor.external_ids.imdb_id"
                               target="_blank">IMDB</a>
                        </li>

                        <li class="external-item" owlTooltip="TMDB">
                            <a [href]="'https://www.themoviedb.org/person/' + actor.id"
                               target="_blank">TMDB</a>
                        </li>

                        <li *ngIf="actor.external_ids.facebook_id"
                            class="external-item" [owlTooltip]="'Facebook @' + actor.external_ids.facebook_id">
                            <a [href]="'http://www.facebook.com/' + actor.external_ids.facebook_id"
                               target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>

                        <li *ngIf="actor.external_ids.instagram_id"
                            class="external-item" [owlTooltip]="'Instagram @' + actor.external_ids.instagram_id">
                            <a [href]="'http://www.instagram.com/' + actor.external_ids.instagram_id"
                               target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>

                        <li *ngIf="actor.external_ids.twitter_id"
                            class="external-item" [owlTooltip]="'Twitter @' + actor.external_ids.twitter_id">
                            <a [href]="'http://www.twitter.com/' + actor.external_ids.twitter_id"
                               target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="personal-inform-stats">
                    <h3 class="personal-inform-stats-title">Personal Inform</h3>
                    <ul class="personal-inform-list stats-list">
                        <li *ngIf="actor.gender" class="stats-item gender">
                            <label>gender:</label>
                            <span>{{actor.gender === 1 ? 'Female' : 'Male' }}</span>
                        </li>

                        <li *ngIf="actor.birthday" class="stats-item birthday">
                            <label>birthday:</label>
                            <span>{{actor.birthday}}</span>
                        </li>

                        <li *ngIf="actor.deathday" class="stats-item deathday">
                            <label>deathday:</label>
                            <span>{{actor.deathday}}</span>
                        </li>

                        <li *ngIf="actor.place_of_birth" class="stats-item place_of_birth">
                            <label>place of birth:</label>
                            <span>{{actor.place_of_birth}}</span>
                        </li>

                        <li *ngIf="actor.also_known_as && actor.also_known_as.length > 0"
                            class="stats-item also_known_as">
                            <label>also known as:</label>
                            <span *ngFor="let name of actor.also_known_as">{{name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="personal-inform">
            <div class="personal-inform-external">
                <h3 class="personal-inform-external-title">External Links</h3>
                <ul class="personal-inform-list external-list">
                    <li *ngIf="actor.homepage"
                        class="external-item" owlTooltip="Official Homepage">
                        <a [href]="actor.homepage" target="_blank">Official</a>
                    </li>

                    <li *ngIf="actor.external_ids.imdb_id"
                        class="external-item" owlTooltip="IMDB">
                        <a [href]="'http://www.imdb.com/title/' + actor.external_ids.imdb_id"
                           target="_blank">IMDB</a>
                    </li>

                    <li class="external-item" owlTooltip="TMDB">
                        <a [href]="'https://www.themoviedb.org/person/' + actor.id"
                           target="_blank">TMDB</a>
                    </li>

                    <li *ngIf="actor.external_ids.facebook_id"
                        class="external-item" [owlTooltip]="'Facebook @' + actor.external_ids.facebook_id">
                        <a [href]="'http://www.facebook.com/' + actor.external_ids.facebook_id"
                           target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>

                    <li *ngIf="actor.external_ids.instagram_id"
                        class="external-item" [owlTooltip]="'Instagram @' + actor.external_ids.instagram_id">
                        <a [href]="'http://www.instagram.com/' + actor.external_ids.instagram_id"
                           target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>

                    <li *ngIf="actor.external_ids.twitter_id"
                        class="external-item" [owlTooltip]="'Twitter @' + actor.external_ids.twitter_id">
                        <a [href]="'http://www.twitter.com/' + actor.external_ids.twitter_id"
                           target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <div class="personal-inform-stats">
                <h3 class="personal-inform-stats-title">Personal Inform</h3>
                <ul class="personal-inform-list stats-list">
                    <li *ngIf="actor.gender" class="stats-item gender">
                        <label>gender:</label>
                        <span>{{actor.gender === 1 ? 'Female' : 'Male' }}</span>
                    </li>

                    <li *ngIf="actor.birthday" class="stats-item birthday">
                        <label>birthday:</label>
                        <span>{{actor.birthday}}</span>
                    </li>

                    <li *ngIf="actor.deathday" class="stats-item deathday">
                        <label>deathday:</label>
                        <span>{{actor.deathday}}</span>
                    </li>

                    <li *ngIf="actor.place_of_birth" class="stats-item place_of_birth">
                        <label>place of birth:</label>
                        <span>{{actor.place_of_birth}}</span>
                    </li>

                    <li *ngIf="actor.also_known_as && actor.also_known_as.length > 0"
                        class="stats-item also_known_as">
                        <label>also known as:</label>
                        <span *ngFor="let name of actor.also_known_as">{{name}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div *ngIf="actor.biography" class="biography">
            <h3>Biography</h3>
            <p>{{actor.biography}}</p>
        </div>
    </div>
</section>
