<button type="button" class="audio-dialog-close" (click)="closeDialog($event)">
    <i class="fas fa-times"></i>
</button>
<h2 class="audio-title">{{title}}</h2>
<div class="audio-embed embed-responsive embed-responsive-16by9">
    <ng-container *ngIf="video$ | async as video">
        <iframe class="embed-responsive-item"
                [attr.src]="('https://www.youtube.com/embed/' + video.key) | safe"
                frameborder="0"></iframe>
    </ng-container>

    <ng-container *ngIf="videoKey">
        <iframe class="embed-responsive-item"
                [attr.src]="('https://www.youtube.com/embed/' + videoKey) | safe"
                frameborder="0"></iframe>
    </ng-container>
</div>
