<div class="frame-sidenav-control">
    <h1 class="frame-sidenav-title">
        Movies
        <button class="paginator prev"
                [class.paginator-hidden]="searchStat.page === 1"
                (click)="prev($event)">
            <i class="fas fa-caret-left"></i>
        </button>
        <button class="paginator next"
                [class.paginator-hidden]="searchStat.page === searchStat.total_pages"
                (click)="next($event)">
            <i class="fas fa-caret-right"></i>
        </button>
    </h1>
</div>
<div class="frame-sidenav-main">
    <h2 class="frame-sidenav-info">{{sidenavInfo}}</h2>
    <div *ngIf="showNavMenu;else navList" class="frame-sidenav-menu">
        <button class="frame-sidenav-menu-button" [owlMenuTriggerFor]="menu" #menuTrigger>{{sidenavMenuName}}
            <span class="frame-sidenav-menu-icon"><i class="fas fa-caret-up"></i></span>
        </button>
        <owl-menu #menu="owlMenu">
            <button *ngFor="let item of items" owl-menu-item
                    [routerLink]="'/movies/list/' + item.type"
                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{item.name}}
            </button>
        </owl-menu>
    </div>

    <ng-template #navList>
        <ul class="frame-sidenav-list">
            <li *ngFor="let item of items" class="frame-sidenav-list-item">
                <a [routerLink]="'/movies/list/' + item.type"
                   routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{item.name}}
                </a>
            </li>
        </ul>
    </ng-template>
</div>
