<div class="frame-sidenav-control">
    <h1 class="frame-sidenav-title">
        {{title}}
        <button type="button" class="basic-btn paginator prev"
                [class.paginator-hidden]="listPage === 1"
                (click)="prev($event)">
            <i class="fas fa-caret-left"></i>
        </button>
        <button type="button" class="basic-btn paginator next"
                [class.paginator-hidden]="listPage === listTotalPages"
                (click)="next($event)">
            <i class="fas fa-caret-right"></i>
        </button>
    </h1>
</div>
<div class="frame-sidenav-main">
    <h2 *ngIf="sidenavInfo" class="frame-sidenav-inform">{{sidenavInfo}}</h2>
    <ng-content></ng-content>
    <div *ngIf="showNavMenu;else navListElm" class="frame-sidenav-menu">
        <button type="button" class="basic-btn frame-sidenav-menu-button" [owlMenuTriggerFor]="menu" #menuTrigger>{{sidenavMenuName}}
            <span class="frame-sidenav-menu-icon"><i class="fas fa-caret-up"></i></span>
        </button>
        <owl-menu #menu="owlMenu">
            <button type="button" *ngFor="let option of navList" owl-menu-item
                    (click)="handleOptionClick(option, $event)">
                {{option.name}}
            </button>
        </owl-menu>
    </div>

    <ng-template #navListElm>
        <ul class="frame-sidenav-list">
            <li *ngFor="let option of navList" class="frame-sidenav-list-item">
                <button type="button" class="basic-btn"
                        [class.active]="option.value === currentOption"
                        (click)="handleOptionClick(option, $event)">
                    {{option.name}}
                </button>
            </li>
        </ul>
    </ng-template>
</div>
