<div class="rating-wrapper">
    <div class="rating-container">
        <ul class="rating-list">
            <li class="rating-list-item">
                <app-vote-inform [vote_average]="vote_average"
                                 [vote_highest]="vote_highest"
                                 [vote_count]="vote_count"></app-vote-inform>
            </li>

            <li class="rating-list-item clickable" (click)="rate.emit()">
                <i class="heart-icon far fa-heart"></i>
                <div class="rating-text">
                    <div class="rating-text-main">
                        <ng-container [ngSwitch]="type">
                            <ng-container *ngSwitchDefault>
                                Rate this movie
                            </ng-container>
                            <ng-container *ngSwitchCase="'tv'">
                                Rate this TV series
                            </ng-container>
                            <ng-container *ngSwitchCase="'book'">
                                Rate this Book
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="rating-text-small">What did you think?</div>
                </div>
            </li>
        </ul>
    </div>
</div>
