<section class="frame-wrapper">
    <div class="frame-sidenav-wrapper">
        <app-search-list-sidenav
                [listPage]="1"
                [listTotalPages]="1"
                [listQuery]="listQuery === 'popular' ? '' : listQuery"
                [currentOption]="'people'"
                (queryChange)="handleQueryInputValueChange($event)"
                (clickOption)="handleNavListOptionClick($event)"></app-search-list-sidenav>
    </div>

    <div class="frame-main-wrapper">
        <div class="frame-main-partial"
             *ngIf="actorList$ | async as actorList" >
            <h1>Actors</h1>
            <ul class="search-list search-actor-list">
                <li class="search-list-item" *ngFor="let person of actorList">
                    <app-media-card [imageUrl]="'https://image.tmdb.org/t/p/w185' + person.profile_path"
                                    [name]="person.name || person.title"
                                    (select)="handleSelectActor(person.id)"></app-media-card>
                </li>
            </ul>
            <app-list-paginator [listPage]="actorListPage$ | async"
                                [listTotalPages]="actorListTotalPages$ | async"
                                [searchName]="listQuery"
                                (goToPage)="goToActorPage($event)"
                                #actorPaginator="paginator"></app-list-paginator>
        </div>

        <div class="frame-main-partial"
             *ngIf="artistList$ | async as artistList">
            <h1>Artists</h1>
            <ul class="search-list search-artist-list">
                <li class="search-list-item" *ngFor="let person of artistList">
                    <app-media-card [imageUrl]="person.images[0]?.url"
                                    [name]="person.name"
                                    (select)="handleSelectArtist(person.id)"></app-media-card>
                </li>
            </ul>
            <app-list-paginator [listPage]="artistListPage$ | async"
                                [listTotalPages]="artistListTotalPages$ | async"
                                [searchName]="listQuery"
                                (goToPage)="goToArtistPage($event)"
                                #artistPaginator="paginator"></app-list-paginator>
        </div>
    </div>
</section>
