@import "../../../sass/list/list";

.frame-main-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

.frame-main-partial {
  width: 100%;
  height: 100%;
  padding: .5rem;
  box-sizing: border-box;
  position: relative;

  &:last-child {
    border-left: solid 1px #2d2d2d;
  }

  h1 {
    margin: 0 0 1rem;
  }
}

.search-list {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  padding: 0 .5rem .5rem;
  box-sizing: border-box;
  justify-items: center;
  list-style: none;
  margin: 0;

  .search-list-item {
    width: 100%;
  }
}
