:host {
  display: block;
}

.book-preview-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.book-preview-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  &:hover {
    box-shadow: 3px 3px 16px -2px rgba(0, 0, 0, .5);
  }
}

.book-preview-card-content {
  margin: 1.5rem 0 0;
}

.book-preview-card-footer {
  padding: 0 1.5rem 1.5rem;
}

.book-preview-card-sub-header {
  display: flex;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 0;
  align-items: center;
  margin-bottom: 5px;
}
