<div class="movie-card-inner">
    <a class="movie-card-content" [routerLink]="['/movies', movie.id, 'details']">
        <img class="movie-card-backdrop"
             [defaultImage]="'/assets/images/abstract-image.jpg'"
             [lazyLoad]="'https://image.tmdb.org/t/p/w780' + movieImage"
             [scrollObservable]="scrollObservable"
             [scrollTarget]="scrollTarget" [alt]="movie.title">
        <div *ngIf="showTitle" class="movie-card-title">
            <h3>{{movie.title}} <span class="year">{{movie.release_date | yearString}}</span></h3>
        </div>
    </a>
    <div class="movie-card-control">
        <div class="movie-card-actions">
            <a class="movie-card-action collect"
               owlTooltip="Add To Collection"
               (click)="clickAddCollection($event)">
                <i class="fas fa-book"></i>
            </a>
            <a class="movie-card-action play"
               owlTooltip="Watch Trailer"
               (click)="clickPlayVideo($event)">
                <i class="fas fa-play"></i>
            </a>
        </div>
        <div class="movie-card-rate">
            <i class="movie-card-rate-heart fas fa-heart"></i>
            {{movie.vote_average | votePercentage}}
        </div>
    </div>
</div>
