<app-header (hamburgerClick)="toggleSidenav()" #appHeader></app-header>

<mat-sidenav-container class="app-sidenav-container"
                       (backdropClick)="closeSidenav()">
    <mat-sidenav [opened]="showSidenav$ | async"
                 [fixedInViewport]="true"
                 [fixedTopGap]="appHeader.offsetHeight"
                 [position]="'end'" [mode]="'over'">
        <app-sidenav-panel></app-sidenav-panel>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="app-container" #appContainer>
            <router-outlet></router-outlet>
            <app-footer-searcher></app-footer-searcher>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-loader [show]="showLoader$ | async"></app-loader>
