<app-header [user]="user$ | async" (hamburgerClick)="toggleSidenav()" #appHeader></app-header>

<mat-sidenav-container class="app-sidenav-container"
                       (backdropClick)="closeSidenav()">
    <mat-sidenav *ngIf="isXSmall"
                 [opened]="showSidenav$ | async"
                 [fixedInViewport]="true"
                 [fixedTopGap]="appHeader.offsetHeight"
                 [position]="'end'" [mode]="'over'">
        <app-sidenav-panel [user]="appHeader.user" (sidenavAnchorClick)="closeSidenav()"></app-sidenav-panel>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="app-container" #appContainer>
            <div class="app-main">
                <router-outlet></router-outlet>
            </div>
            <app-footer-searcher></app-footer-searcher>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-loader [show]="showLoader$ | async"></app-loader>
