.app-sidenav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app-sidenav-panel {
  width: 250px;
  background: rgb(248, 248, 248);
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
