<app-header-searcher (search)="handleSearchConfirm($event)"></app-header-searcher>
<ul class="app-header-nav">
    <li class="app-header-nav-item">
        <a class="app-header-nav-link"
           routerLink="movie/list" routerLinkActive="active">
            Movies
        </a>
    </li>
    <li class="app-header-nav-item">
        <a class="app-header-nav-link"
           routerLink="tv/list" routerLinkActive="active">
            TV
        </a>
    </li>
    <li class="app-header-nav-item">
        <a class="app-header-nav-link"
           routerLink="music" routerLinkActive="active">
            Music
        </a>
    </li>
    <li class="app-header-nav-item">
        <a class="app-header-nav-link"
           routerLink="book" routerLinkActive="active">
            Books
        </a>
    </li>
</ul>
