$header-height: 3.2rem;

:host {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 500;
  background: rgba(0, 0, 0, .6);
  transition: background .5s;
  transform: translateZ(0px);

  &:hover {
    background: rgba(0, 0, 0, .9);
  }
}

.app-header-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  .app-header-nav-link {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;

    &:hover, &.active {
      color: #ed1c24;
    }
  }
}
