<app-header-searcher (search)="handleSearchConfirm($event)"></app-header-searcher>
<ul class="app-header-nav app-header-nav-left"
    [class.scrolled]="scroll.scrolled">
    <li class="app-header-nav-item">
        <a class="app-header-link app-header-nav-link"
           routerLink="movie/list" routerLinkActive="active">
            Movies
        </a>
    </li>
    <li class="app-header-nav-item">
        <a class="app-header-link app-header-nav-link"
           routerLink="tv/list" routerLinkActive="active">
            TV
        </a>
    </li>
</ul>
<div class="app-header-brand"
     [class.scrolled]="scroll.scrolled"
     appScrollVisibility
     [scrollTarget]="scrollTarget"
     [scrollOnDistance]="100"
     #scroll="scrollVisibility">
    <a routerLink="/">
        <img width="72px" alt="Angular Logo"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </a>
</div>
<ul class="app-header-nav app-header-nav-right"
    [class.scrolled]="scroll.scrolled">
    <li class="app-header-nav-item">
        <a class="app-header-link app-header-nav-link"
           routerLink="music" routerLinkActive="active">
            Music
        </a>
    </li>
    <li class="app-header-nav-item">
        <a class="app-header-link app-header-nav-link"
           routerLink="book" routerLinkActive="active">
            Books
        </a>
    </li>
</ul>

<button type="button" tabindex="0"
        class="basic-btn hamburger-btn"
        owlRipple [owlRippleColor]="'rgba(255, 255, 255, 0.2)'"
        (click)="hamburgerClick.next($event)">
    <span class="basic-btn-content hamburger-btn-content" tabindex="-1">
        <i class="fas fa-bars"></i>
    </span>
</button>

<a class="app-header-link auth-link"
   [routerLink]="user && user.name ? 'my-collection' : 'login'" routerLinkActive="active">
    {{user && user.name ? user.name : 'Login'}}
</a>
