@import "../../../sass/base/breakPoints";

$header-height: 3.2rem;

:host {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 500;
  background: rgba(0, 0, 0, .6);
  transition: background .5s;
  transform: translateZ(0px);
  color: #ffffff;

  &:hover {
    background: rgba(0, 0, 0, .9);
  }
}

.app-header-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hamburger-btn {
  display: none;
  position: absolute;
  right: 0;
  width: $header-height;
  height: $header-height;
  color: #FFFFFF;

  .hamburger-btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.app-header-link {
  display: block;
  padding: 0 1rem;
  height: 100%;
  line-height: $header-height;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: inherit;

  &.active {
    color: #ed1c24;
  }

  &:not(.active):hover,
  &:not(.active):focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.auth-link {
  position: absolute;
  right: 0;
}

@media #{$xsmall-only} {
  .app-header-nav,
  .auth-link {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }
}
