<app-header-searcher (search)="handleSearchConfirm($event)"></app-header-searcher>
<ul class="app-header-nav">
    <li class="app-header-nav-item">
        <a class="app-header-link app-header-nav-link"
           routerLink="movie/list" routerLinkActive="active">
            Movies
        </a>
    </li>
    <li class="app-header-nav-item">
        <a class="app-header-link app-header-nav-link"
           routerLink="tv/list" routerLinkActive="active">
            TV
        </a>
    </li>
    <li class="app-header-nav-item">
        <a class="app-header-link app-header-nav-link"
           routerLink="music" routerLinkActive="active">
            Music
        </a>
    </li>
    <li class="app-header-nav-item">
        <a class="app-header-link app-header-nav-link"
           routerLink="book" routerLinkActive="active">
            Books
        </a>
    </li>
</ul>

<button type="button" tabindex="0"
        class="basic-btn hamburger-btn"
        owlRipple [owlRippleColor]="'rgba(255, 255, 255, 0.2)'"
        (click)="hamburgerClick.next($event)">
    <span class="basic-btn-content hamburger-btn-content" tabindex="-1">
        <i class="fas fa-bars"></i>
    </span>
</button>

<a class="app-header-link auth-link"
   [routerLink]="user && user.name ? 'my-collection' : 'login'" routerLinkActive="active">
    {{user && user.name ? user.name : 'Login'}}
</a>
