<a class="album-card-anchor" [routerLink]="'/music/album/' + album.id">
    <div class="poster-frame">
        <img [lazyLoad]="album.images[0].url"
             [errorImage]="'/assets/images/abstract-image.jpg'" [useSrcset]="true"
             [alt]="album.name" alt="Poster">
    </div>
    <div class="album-inform">
        <h3 class="album-name" [class.album-name-featured]="featured">{{album.name | ellipsis: featured? 50 : 40}}</h3>
        <ul class="artist-list">
            <li *ngFor="let person of album.artists" class="artist-list-item">{{person.name}}</li>
        </ul>
    </div>
</a>