<section class="movie-header" #movieHeader>
    <ng-container *ngIf="(backdrop$ | async) as backdrop">
        <div class="movie-header-backdrop"
             [lazyLoad]="'https://image.tmdb.org/t/p/w1280' + backdrop"
             [scrollTarget]="scrollTarget"></div>
    </ng-container>
    <div class="movie-header-shade"></div>

    <div class="movie-header-partial movie-header-info">
        <h1 class="movie-header-info-title">E! Monster</h1>
    </div>

    <div class="movie-header-partial movie-header-scroll-down">
        <button type="button" class="basic-btn scroll-down-btn" tabindex="0"
                [class.hidden]="scroll.scrolled"
                appScrollVisibility
                [scrollTarget]="scrollTarget"
                (click)="handleClickOnScrollDown($event)"
                #scroll="scrollVisibility">
            <span class="basic-btn-content" tabindex="-1">
                <i class="fas fa-chevron-down"></i>
            </span>
        </button>
    </div>
</section>
<section class="home-inform">
    <p>
        E!Monster helps you to discover what's hottest topic in the entertainment industry right now. Users could find
        out the popular movies, tv shows, music and books and see all the review from other users. Go and hang out with
        us and see how awesome we are.
    </p>
    <ul class="inform-list">
        <li class="inform-list-item movie">
            <a class="inform-list-anchor" routerLink="/movie/list">
                <div class="inform-list-item-img">
                    <i class="fas fa-film"></i>
                </div>
                <div class="inform-list-item-header">
                    Movie
                </div>
                <div class="inform-list-item-description">
                    Checkout the Movie collection from TMDB API
                </div>
            </a>
        </li>
        <li class="inform-list-item tv">
            <a class="inform-list-anchor" routerLink="/tv/list">
                <div class="inform-list-item-img">
                    <i class="fas fa-tv"></i>
                </div>
                <div class="inform-list-item-header">
                    TV
                </div>
                <div class="inform-list-item-description">
                    Checkout the TV collection from TMDB API
                </div>
            </a>
        </li>
        <li class="inform-list-item music">
            <a class="inform-list-anchor" routerLink="/music/list">
                <div class="inform-list-item-img">
                    <i class="fas fa-music"></i>
                </div>
                <div class="inform-list-item-header">
                    Music
                </div>
                <div class="inform-list-item-description">
                    Checkout the Music collection from Spotify API
                </div>
            </a>
        </li>
        <li class="inform-list-item book">
            <a class="inform-list-anchor" routerLink="/book/list">
                <div class="inform-list-item-img">
                    <i class="fas fa-book"></i>
                </div>
                <div class="inform-list-item-header">
                    Book
                </div>
                <div class="inform-list-item-description">
                    Checkout the Book collection from Google Book API
                </div>
            </a>
        </li>
    </ul>
</section>
