<section class="tv-details-header">
    <div class="backdrop"
         [lazyLoad]="'https://image.tmdb.org/t/p/w1280' + tv.backdrop_path"></div>

    <div class="content">
        <div class="tv-details-container summary">
            <div class="poster">
                <img [lazyLoad]="'https://image.tmdb.org/t/p/w780' + tv.poster_path"
                     [errorImage]="'/assets/images/abstract-image.jpg'"
                     alt="Poster">
            </div>
            <h1 class="title">
                {{tv.name}}
                <span class="year">{{tv.first_air_date | yearString}}</span>
            </h1>
        </div>

        <app-audio-rating-list [vote_average]="tv.vote_average"
                               [vote_count]="tv.vote_count"
                               [type]="'tv'"
                               (rate)="rate.emit(tv)"></app-audio-rating-list>
    </div>
</section>
