@import "../../../sass/details/details";

.details-header-content {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(#ed1c24, .5) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(#ed1c24, .5) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(#ed1c24, .5) 100%);
}

.book-stats-title {
  h2 {
    margin: 0;
  }
}

.book-stats-subtitle {
  h3 {
    margin: 0;
    font-weight: normal;
    color: #383838;
  }
}

.stats-item.categories {
  span {
    display: block;
    padding: 2.5px 0;
  }
}

.description {
  margin: 0 0 1rem;
  line-height: 1.3rem;
  font-size: 1.3rem;
}

.book-detail-header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.book-header-backdrop {
  position: relative;
  display: inline-block;

  .book-image-card {
    position: relative;
    width: 256px;
    height: 384px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #FCFBE5;
    border-radius: 6px;
    box-shadow: 0 0 5px #38393B;
    padding: 8px;

    &.left {
      transform: rotate(-20deg);
    }

    &.right {
      transform: rotate(5deg);
      margin-left: -30px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s;

      &.ng-lazyloaded {
        opacity: 1;
      }
    }
  }
}

@media #{$small-only} {
  .book-header-backdrop {
    .book-image-card {
      width: 128px;
      height: 192px;
    }
  }
}
