<div class="movie-grid featured">
    <app-audio-card *ngFor="let movie of featuredList" class="movie-card"
                         [audio]="movie" [scrollTarget]="hostElm"
                         (addCollection)="addCollection.next($event)"
                         (playVideo)="playVideo.next($event)"></app-audio-card>
</div>
<div class="movie-grid">
    <app-audio-card *ngFor="let movie of list" class="movie-card"
                         [audio]="movie" [scrollTarget]="hostElm"
                         (addCollection)="addCollection.next($event)"
                         (playVideo)="playVideo.next($event)"></app-audio-card>
</div>
