:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #1d1d1d;
  color: #FFFFFF;
}

.my-collection-header {
  font-size: 2.3rem;
  margin: 0 0 2rem;
}

.my-collection-sub-header {
  font-size: 1.2rem;
  margin: 0 0 .5rem;
}

.my-collection-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  .my-collection-item {
    padding: 1rem;
  }
}

.my-collection-anchor {
  font-size: 1.1rem;
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ed1c24;
    text-decoration: underline;
  }
}
