<app-movie-details-header [movie]="movie$ | async" (rate)="rate($event)"></app-movie-details-header>
<app-movie-details-content [movie]="movie$ | async"
                           [movieVideos]="movieVideos$ | async"
                           (movieVideoClick)="openMovieVideoDialog($event)"
                           (fullCastCrewClick)="openMovieCreditsDialog($event)"></app-movie-details-content>
<app-movie-details-similar [movie]="movie$ | async"
                           (playVideo)="openSimilarMovieVideoDialog($event)"></app-movie-details-similar>