<ng-container *ngIf="movie$ | async as movie">
    <section class="details-header">
        <div class="details-header-backdrop"
             [lazyLoad]="'https://image.tmdb.org/t/p/w1280' + movie.backdrop_path"></div>

        <div class="details-header-content">
            <div class="details-header-content-inner details-container">
                <div class="details-header-poster">
                    <img [lazyLoad]="'https://image.tmdb.org/t/p/w780' + movie.poster_path"
                         [defaultImage]="'/assets/images/abstract-image.jpg'"
                         [errorImage]="'/assets/images/abstract-image.jpg'"
                         alt="Poster">
                </div>

                <h1 class="details-header-name">
                    {{movie.title}}
                    <span class="year">{{movie.release_date | yearString}}</span>
                </h1>
            </div>

            <app-audio-rating-list [vote_average]="movie.vote_average"
                                   [vote_count]="movie.vote_count"
                                   [type]="'movie'"
                                   (rate)="rate(movie)"></app-audio-rating-list>
        </div>
    </section>
    <section class="details-body">
        <div class="details-body-sidenav">
            <div class="details-body-poster">
                <img [lazyLoad]="'https://image.tmdb.org/t/p/w780' + movie.poster_path"
                     [defaultImage]="'/assets/images/abstract-image.jpg'"
                     [errorImage]="'/assets/images/abstract-image.jpg'"
                     alt="Poster">
            </div>

            <button class="basic-btn collection-button">
                <i class="icon fas fa-plus"></i> Add to Collection
            </button>

            <div class="details-inform">
                <div class="details-inform-list-wrapper">
                    <ul class="inform-list external-list">
                        <li *ngIf="movie.homepage"
                            class="external-item" owlTooltip="Official Homepage">
                            <a [href]="movie.homepage" target="_blank">Official</a>
                        </li>

                        <li *ngIf="movie.external_ids.imdb_id"
                            class="external-item" owlTooltip="IMDB">
                            <a [href]="'http://www.imdb.com/title/' + movie.external_ids.imdb_id"
                               target="_blank">IMDB</a>
                        </li>

                        <li *ngIf="movie.external_ids.id"
                            class="external-item" owlTooltip="TMDB">
                            <a [href]="'https://www.themoviedb.org/movie/' + movie.external_ids.id"
                               target="_blank">TMDB</a>
                        </li>

                        <li *ngIf="movie.external_ids.facebook_id"
                            class="external-item" [owlTooltip]="'Facebook @' + movie.external_ids.facebook_id">
                            <a [href]="'http://www.facebook.com/' + movie.external_ids.facebook_id"
                               target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>

                        <li *ngIf="movie.external_ids.instagram_id"
                            class="external-item" [owlTooltip]="'Instagram @' + movie.external_ids.instagram_id">
                            <a [href]="'http://www.instagram.com/' + movie.external_ids.instagram_id"
                               target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>

                        <li *ngIf="movie.external_ids.twitter_id"
                            class="external-item" [owlTooltip]="'Twitter @' + movie.external_ids.twitter_id">
                            <a [href]="'http://www.twitter.com/' + movie.external_ids.twitter_id"
                               target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="details-body-main">
            <div class="details-inform">
                <div class="details-inform-list-wrapper movie-inform">
                    <h3 class="details-inform-header">Movie Inform</h3>
                    <ul class="inform-list stats-list">
                        <li class="stats-item release">
                            <label>release:</label>
                            {{movie.release_date | toDate | date}}
                        </li>

                        <li class="stats-item runtime">
                            <label>runtime:</label>
                            {{movie.runtime}} mins
                        </li>

                        <li class="stats-item country">
                            <label>country:</label>
                            <span *ngFor="let country of movie.production_countries">{{country.name}}</span>
                        </li>

                        <ng-container *ngIf="mainStaff$ | async  as mainStaff">
                            <li class="stats-item directors">
                                <label>directors:</label>
                                <span *ngFor="let director of mainStaff.directors">{{director.name}}</span>
                            </li>

                            <li class="stats-item writers">
                                <label>writers:</label>
                                <span *ngFor="let writer of mainStaff.writers">{{writer.name}}</span>
                            </li>
                        </ng-container>

                        <li class="stats-item language">
                            <label>language:</label>
                            <span *ngFor="let language of movie.spoken_languages">{{language.name}}</span>
                        </li>

                        <li class="stats-item genres">
                            <label>genres</label>
                            <span *ngFor="let genre of movie.genres">{{genre.name}}</span>
                        </li>
                    </ul>
                </div>

                <p class="tagline">
                    {{movie.tagline}}
                </p>

                <p class="overview">
                    {{movie.overview}}
                </p>

                <div class="details-inform-list-wrapper external-links">
                    <h3 class="details-inform-header">External Links</h3>
                    <ul class="inform-list external-list">
                        <li *ngIf="movie.homepage"
                            class="external-item" owlTooltip="Official Homepage">
                            <a [href]="movie.homepage" target="_blank">Official</a>
                        </li>

                        <li *ngIf="movie.external_ids.imdb_id"
                            class="external-item" owlTooltip="IMDB">
                            <a [href]="'http://www.imdb.com/title/' + movie.external_ids.imdb_id"
                               target="_blank">IMDB</a>
                        </li>

                        <li *ngIf="movie.external_ids.id"
                            class="external-item" owlTooltip="TMDB">
                            <a [href]="'https://www.themoviedb.org/movie/' + movie.external_ids.id"
                               target="_blank">TMDB</a>
                        </li>

                        <li *ngIf="movie.external_ids.facebook_id"
                            class="external-item" [owlTooltip]="'Facebook @' + movie.external_ids.facebook_id">
                            <a [href]="'http://www.facebook.com/' + movie.external_ids.facebook_id"
                               target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>

                        <li *ngIf="movie.external_ids.instagram_id"
                            class="external-item" [owlTooltip]="'Instagram @' + movie.external_ids.instagram_id">
                            <a [href]="'http://www.instagram.com/' + movie.external_ids.instagram_id"
                               target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>

                        <li *ngIf="movie.external_ids.twitter_id"
                            class="external-item" [owlTooltip]="'Twitter @' + movie.external_ids.twitter_id">
                            <a [href]="'http://www.twitter.com/' + movie.external_ids.twitter_id"
                               target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>

                <ng-container *ngIf="movieVideos$ | async as movieVideos">
                    <div class="details-inform-list-wrapper videos">
                        <h3 class="details-inform-header">Videos</h3>
                        <ul class="inform-list video-list">
                            <li *ngFor="let video of movieVideos" class="video-list-item">
                                <button type="button" class="basic-btn" (click)="openMovieVideoDialog(movie.title, video.key, $event)">
                                    <i class="icon fab fa-youtube"></i>
                                    {{video.type}}
                                </button>
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </div>

            <div class="cast-crew-wrapper">
                <div class="cast-crew-title">
                    <h2>Cast & Crew</h2>
                    <button class="basic-btn cast-crew-full-button" (click)="openMovieCreditsDialog(movie, $event)">
                        » See full cast & crew
                    </button>
                </div>

                <div class="cast-crew-content">
                    <button class="basic-btn cast-crew-control" tabindex="-1"
                            (click)="slideLeftCastList($event)">
                        <i class="fas fa-angle-left"></i>
                    </button>

                    <div class="cast-crew-wrapper" #castListWrapper>
                        <ul class="cast-crew-list"
                            [style.width.px]="movie.credits.cast.length * castProfileWidth"
                            [style.transform]="'translateX(' + -castListSlideDistance + 'px)'" #castList>
                            <li *ngFor="let cast of movie.credits.cast" class="cast-crew-list-item"
                                [style.width.px]="castProfileWidth">
                                <a class="cast-crew-anchor" [routerLink]="'/people/actor/' + cast.id">
                                    <img *ngIf="cast.profile_path;else abstractImg" class="cast-crew-poster"
                                         [src]="'https://image.tmdb.org/t/p/w185/' + cast.profile_path" alt="Poster"/>
                                    <ng-template #abstractImg>
                                        <img class="cast-crew-poster"
                                             src="/assets/images/abstract-profile.png"/>
                                    </ng-template>
                                    <h4 class="character">{{cast.character}}</h4>
                                    <h4 class="name">{{cast.name}}</h4>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <button class="basic-btn cast-crew-control" tabindex="-1"
                            (click)="slideRightCastList($event)" #rightControlBtn>
                        <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </div>

            <div class="reviews">
                <ng-container *ngIf="movie.reviews.total_results > 0;else noReviewsTemplate">
                    <h2 class="reviews-title">Reviews</h2>

                    <div *ngFor="let review of movie.reviews.results" class="review-card">
                        <div class="review-card-author">
                            {{review.author}}
                        </div>
                        <div class="review-card-content">
                            {{review.content}}
                        </div>
                    </div>
                </ng-container>
                <ng-template #noReviewsTemplate>
                    <h2 class="no-review-title">No Reviews found</h2>
                </ng-template>
            </div>
        </div>
    </section>

    <app-movie-details-similar [movie]="movie"
                               (playVideo)="openSimilarMovieVideoDialog($event)"></app-movie-details-similar>
</ng-container>