<section class="frame-wrapper">
    <ng-container *ngIf="paginatorData$ | async as paginatorData">
        <div class="frame-sidenav-wrapper">
            <app-search-list-sidenav
                    [listPage]="paginatorData.page"
                    [listTotalPages]="paginatorData.total_pages"
                    [listQuery]="paginatorData.query === 'on_the_air' ? '' : paginatorData.query"
                    [currentOption]="'tv'"
                    (queryChange)="handleQueryInputValueChange($event)"
                    (clickOption)="handleNavListOptionClick($event, paginatorData.query)"
                    (goToPage)="goToPage($event, paginatorData.query)"></app-search-list-sidenav>
        </div>

        <div class="frame-main-wrapper">
            <ng-container *ngIf="featuredList$ | async as featuredList;else noResultBlock">
                <ng-container *ngIf="featuredList.length > 0; else noResultBlock">
                    <div class="search-grid featured">
                        <app-audio-card *ngFor="let audio of featuredList$ | async" class="audio-card"
                                        [audio]="audio"
                                        [cardLink]="'/tv/' + audio.id + '/details'"
                                        [imageLink]="'https://image.tmdb.org/t/p/w780' + audio.backdrop_path"
                                        [title]="audio.name"
                                        [date]="audio.first_air_date"
                                        [vote_average]="audio.vote_average"
                                        [vote_count]="audio.vote_count"
                                        (playVideo)="openTvTrailerDialog($event)"></app-audio-card>
                    </div>
                    <div class="search-grid">
                        <app-audio-card *ngFor="let audio of list$ | async" class="audio-card"
                                        [audio]="audio"
                                        [cardLink]="'/tv/' + audio.id + '/details'"
                                        [imageLink]="'https://image.tmdb.org/t/p/w780' + audio.poster_path"
                                        [title]="audio.name"
                                        [date]="audio.first_air_date"
                                        [vote_average]="audio.vote_average"
                                        [vote_count]="audio.vote_count"
                                        (playVideo)="openTvTrailerDialog($event)"></app-audio-card>
                    </div>

                    <app-list-paginator [listPage]="paginatorData.page"
                                        [listTotalPages]="paginatorData.total_pages"
                                        (goToPage)="goToPage($event, paginatorData.query)"></app-list-paginator>
                </ng-container>
            </ng-container>

            <ng-template #noResultBlock>
                <h1 class="no-result-msg">No Result Found</h1>
            </ng-template>
        </div>
    </ng-container>
</section>
