@import "../../../sass/base/breakPoints";
@import "../../../sass/list/list";

.search-grid {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  padding: 0 .5rem .5rem;
  box-sizing: border-box;
  justify-items: center;

  .audio-card {
    display: block;
    height: 300px;
    width: 190px;

    &:hover {
      box-shadow: 0 0 3px hsla(0, 100%, 100%, 1);
    }
  }

  &.featured {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    .audio-card {
      height: 320px;
      width: 100%;
      max-width: 568px;
    }
  }

  @media #{$xsmall-only} {
    &.featured {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

      .audio-card {
        height: 250px;
        max-width: 445px;
      }
    }
  }
}
