<section class="frame-wrapper">
    <div class="frame-sidenav-wrapper">
        <app-frame-sidenav [title]="'Music'" [listPage]="listPage$ | async"
                           [listTotalPages]="listTotalPages$ | async"
                           [listQuery]="listQuery$ | async"
                           [currentOption]="listQuery$ | async"
                           [navList]="navList"
                           (clickOption)="handleNavListOptionClick($event)"
                           (goToPage)="goToPage($event)"></app-frame-sidenav>
    </div>

    <div class="frame-main-wrapper">
        <ul class="album-grid featured">
            <li class="album-grid-item" *ngFor="let album of featuredList$ | async">
                <app-album-card [imageUrl]="album.images[0].url"
                                [name]="album.name" [artists]="album.artists"
                                (select)="handleSelectAlbum(album.id)"></app-album-card>
            </li>
        </ul>
        <ul class="album-grid">
            <li class="album-grid-item" *ngFor="let album of list$ | async">
                <app-album-card [imageUrl]="album.images[0].url"
                                [name]="album.name" [artists]="album.artists"
                                (select)="handleSelectAlbum(album.id)"></app-album-card>
            </li>
        </ul>

        <app-list-paginator [listPage]="listPage$ | async"
                            [listTotalPages]="listTotalPages$ | async"
                            [searchName]="listQuery$ | async"
                            (goToPage)="goToPage($event)"></app-list-paginator>
    </div>
</section>
