<section class="frame-wrapper">
    <div class="frame-sidenav-wrapper">
        <app-frame-sidenav [title]="'Music'" [listPage]="listPage$ | async"
                           [listTotalPages]="listTotalPages$ | async"
                           [listQuery]="listQuery$ | async"
                           [currentOption]="listQuery$ | async"
                           [navList]="navList"
                           (clickOption)="handleNavListOptionClick($event)"
                           (goToPage)="goToPage($event)"></app-frame-sidenav>
    </div>

    <div class="frame-main-wrapper">
        <div class="album-grid featured">
            <div *ngFor="let album of featuredList$ | async" class="album-card">
                <a class="album-card-anchor" [routerLink]="'/music/album/' + album.id">
                    <div class="poster-frame">
                        <img [lazyLoad]="album.images[1].url"
                             [errorImage]="'/assets/images/abstract-image.jpg'" [useSrcset]="true"
                             [alt]="album.name"
                             alt="Poster">
                    </div>
                    <div class="album-inform">
                        <h3>{{album.name | ellipsis: 50}}</h3>
                        <ul class="artist-list">
                            <li *ngFor="let person of album.artists" class="artist-list-item">{{person.name}}</li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>

        <div class="album-grid">
            <div *ngFor="let album of list$| async" class="album-card">
                <a class="album-card-anchor" [routerLink]="'/music/album/' + album.id">
                    <div class="poster-frame">
                        <img [lazyLoad]="album.images[1].url"
                             [errorImage]="'/assets/images/abstract-image.jpg'" [useSrcset]="true"
                             [alt]="album.name"
                             alt="Poster">
                    </div>
                    <div class="album-inform">
                        <h4>{{album.name | ellipsis: 40}}</h4>
                        <ul class="artist-list">
                            <li *ngFor="let person of album.artists" class="artist-list-item">{{person.name}}</li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>

        <app-list-paginator [listPage]="listPage$ | async"
                            [listTotalPages]="listTotalPages$ | async"
                            [searchName]="listQuery$ | async"
                            (goToPage)="goToPage($event)"></app-list-paginator>
    </div>
</section>
