<div class="frame-sidenav-control">
    <h1 class="frame-sidenav-title">
        Movies
        <button class="paginator prev"
                [class.paginator-hidden]="searchStat.page === 1"
                (click)="prev($event)">
            <i class="fas fa-caret-left"></i>
        </button>
        <button class="paginator next"
                [class.paginator-hidden]="searchStat.page === searchStat.total_pages"
                (click)="next($event)">
            <i class="fas fa-caret-right"></i>
        </button>
    </h1>
</div>

<div *ngIf="showNavMenu;else navList" class="frame-sidenav-menu">
    <button class="frame-sidenav-menu-button" [matMenuTriggerFor]="menu" #menuTrigger>Menu
        <span class="frame-sidenav-menu-icon"><i class="fas fa-caret-up"></i></span>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/movies/list/now_playing"
                routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Trending
        </button>
        <button mat-menu-item routerLink="/movies/list/popular"
                routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Popular
        </button>
        <button mat-menu-item routerLink="/movies/list/upcoming"
                routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Upcoming
        </button>
    </mat-menu>
</div>

<ng-template #navList>
    <ul class="frame-sidenav-list">
        <li class="frame-sidenav-list-item">
            <a routerLink="/movies/list/now_playing"
               routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                Trending
            </a>
        </li>
        <li class="frame-sidenav-list-item">
            <a routerLink="/movies/list/popular"
               routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                Popular
            </a>
        </li>
        <li class="frame-sidenav-list-item">
            <a routerLink="/movies/list/upcoming"
               routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                Upcoming
            </a>
        </li>
    </ul>
</ng-template>
